header, nav, .hero-section, main, footer
{
    max-width: $max-width;
    margin: auto;
}
nav
{
    width: 100%;
}
nav ul
{
    text-align: center;
}
nav li
{
    display: inline-block;
    margin: 0 auto;
    padding: 0 16px;
    float: none;
    width: auto;
}
main div
{
    flex-basis: 25%;
}
main h2
{
    font-size: 145%;
}