@media only screen and (max-width: 1645px)
{
    html
    {
        font-size: 15px;
    }   
    .projects .row
    {
        max-width: 1200px;
    }    
    .project-tile
    {
        padding: 30px 5px;
        margin: 30px 5px;
    }
    .project-tile img,
    .icon-loading
    {
        width: 300px;
        height: 180px;
    }
    .icon-loading
    {
        padding-top: 60px;
    }
    .project-tile h2
    {
        font-size: 110%;
    }
}

@media only screen and (max-width: 1100px)
{
    html
    {
        font-size: 13px;
    }   
    .projects .row
    {
        max-width: 900px;
    }    
    .project-tile
    {
        padding: 20px 5px;
        margin: 20px 5px;
    }
    .project-tile img,
    .icon-loading
    {
        width: 200px;
        height: 125px;
    }
    .icon-loading
    {
        padding-top: 40px;
    }
    .project-tile h2
    {
        font-size: 105%;
    }
}
